<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="Company" value="唐县冀东水泥有限责任公司" />
    <add key="UserName" value="sa" />
    <add key="PassWord" value="123456" />
    <add key="Database" value="weight90" />
    <add key="DataTable" value="称重信息" />
    <add key="InCarid" value="车牌号码" />
    <add key="InWeight" value="过磅净重" />
    <add key="InTime" value="结束时间" />
    <add key="LocalIp" value="127.0.0.1" />
    <add key="OPCIP" value="127.0.0.1" />
    <add key="ServerIp" value="120.27.8.104" />
    <add key="ServerUser" value="myYdSgK1z3w=" />
    <add key="ServerPassWord" value="LIu4VPN1AFep8c5zKkRcXA==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Fuel" value="60" />
    <add key="Opc_Speed" value="Values.Speed(m/s)" />
    <add key="Opc_Flux" value="Values.Flux(t/h)" />
    <add key="Opc_Load" value="Values.Load(Kg/m)" />
    <add key="Opc_Si" value="Values.SiO2" />
    <add key="Opc_Al" value="Values.Al2O3" />
    <add key="Opc_Fe" value="Values.Fe2O3" />
    <add key="Opc_Ca" value="Values.CaO" />
    <add key="Opc_Mg" value="Values.MgO" />
    <add key="Opc_K" value="Values.K2O" />
    <add key="Opc_Na" value="Values.Na2O" />
    <add key="Opc_S" value="Values.SO3" />
    <add key="Opc_Cl" value="Values.CL-" />
    <add key="ExceDistance" value="20" />
    <add key="LoadTime" value="2" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.20.1.0" newVersion="3.20.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.16.0" newVersion="1.2.16.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Hash.xxHash" publicKeyToken="32cd54395057cec3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
